/* Container */
.forgot-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Fixed Navbar */
.forgot-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 1rem 2rem;
  z-index: 1000;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff5a00;
}

/* Layout */
.forgot-content {
  display: flex;
  flex: 1;
  margin-top: 70px; /* navbar height offset */
}

/* Left Image */
.forgot-image {
  flex: 1;
}
.forgot-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Right Form */
.forgot-form {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back-login {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 1.5rem;
  color: #333;
}
.back-login:hover {
  text-decoration: underline;
}
.back-icon {
  font-size: 18px;
  color: #ff5a00;
}

/* Instructions */
.instructions {
  margin: 1rem 0 2rem;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.4;
}

/* Form */
.forgot-form label {
  font-weight: 600;
  margin-bottom: 0.5rem;
  display: block;
}

.forgot-form input {
  width: 90%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.signup-footer .signup-btn{
  width: fit-content;
  border-radius: 50px;
  border: 1px solid #333;
  background-color: white;
  padding: 15px;
  font-weight: bolder;
  text-decoration: none;
  color: #333;
}

.confirm-btn {
  width: fit-content;
  padding: 0.9rem;
  background: #ff5a00;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  border-radius: 50px;
  cursor: pointer;
}
.confirm-btn:hover {
  background: #333;
}

/* Success Alert */
.success-alert {
  position: relative;
  background: #e6f7e6;
  border: 1px solid #4caf50;
  padding: 15px 40px 15px 15px;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
}

.success-icon {
  color: #4caf50;
  font-size: 20px;
  padding: 2px;
}

.close-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

.close-icon:hover {
  color: #000;
}


/* Sign Up */
.signup-footer {
  margin-top: 2rem;
  text-align: center;
  color: #333;
}
.signup-footer h4 {
  margin-bottom: 0.5rem;
}
.signup-btn {
  padding: 0.8rem 1.2rem;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.signup-btn:hover {
  background: #333;
}

.forgot-form h2 {
  color: #333;
}

.forgot-content hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
