.how-to-order {
  padding: 10px 60px;
  background-color: #fff;
  color: #333;
  min-height: auto;
}

.how-to-order h2 {
  font-size: 25px;
  color: #ff5a00;
  /* margin-bottom: 20px; */
  text-align: center;
}

.how-to-order h1 {
  font-size: 46px;
  margin-bottom: 40px;
  text-align: center;
}

.steps {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.step {
  flex: 1 1 250px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
}

.step-icon {
  font-size: 60px;
  color: #ff5a00;
  margin-bottom: 15px;
  /* align-items: center; */
}

.step-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.step-desc {
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-line;
  color: #555;
}

/* Responsive Fixes */
@media screen and (max-width: 1024px) {
  .steps {
    gap: 20px;
    justify-content: center;
  }

  .step {
    flex: 1 1 300px; /* keep each box equal width */
    max-width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .steps {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .step {
    width: 90%;
    max-width: 400px;
  }

  .how-to-order h1 {
    font-size: 28px;
  }
}

@media screen and (max-width: 480px) {
  .how-to-order {
    padding: 10px 20px;
  }

  .step {
    width: 100%;
  }

  .how-to-order h2 {
    font-size: 20px;
  }

  .how-to-order h1 {
    font-size: 24px;
  }
}

